.canvas{
	width: 500px;
	height: 400px;
	padding: 200px 20 px;
	text-align: center;
	border: 1px solid black;
}
.red {
	background-color: red;
}
.nearby span:after {
	content: 'nearby';
	background-color: green;
}

/*css for games section*/

#bag{
	width: 200px;
	height: 500px;
	margin: 0 auto;
	background: url('image/bag.jpg') center no-repeat;
	background-size: 80%;
}
#bag-health{
	width: 200px;
	border: 2px solid black;
	margin: 0 auto 20px auto;

}
#bag-health div{
	height: 20px;
	background: crimson;
}
#control{
	width: 200px;
	margin: 0 auto;
}

#bag.blust{
	background: url('image/bag-blast.jpg') center no-repeat;
	background-size: 80%;
}